*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    min-height: 100vh;
    background-color: rgb(109, 21, 21);
}
header{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-bottom: 1px solid;
}
header h1{
    margin-left: 1em;
}
#nav button{
    border: none;
    background-color: white;
    margin: 4px;
    padding: 1px 2px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#nav button:hover{
    background-color: black;
    color: white;
}
.sub-header{
    color: white;
    margin: 5px;
}
.static-pages{
    display: flex;;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.static-pages-header{
    border-bottom: white;
}
.apps{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
main{
    display: flex;
    justify-content: center;
}
.card{
    display: grid;
    /* background-color: edf0f3; */
    background-color: white;
    grid-template-areas: 
        'symbol-top . .'
        '. img .'
        '. . symbol-bottom'   
    ;
    border: 1px solid;
    justify-content: center;
    width: fit-content;
    height: 300px;
    border-radius: 10px;
}
.image{
    display: flex;
    justify-content: center;
    grid-area: img;
    border: 2px solid;
    border-radius: 10px;
}
.image img{
    width: 150px;
    border-radius: 10px;
}
.symbol{
    margin: 4px;
}
.symbol span{
    font-size: 30px;
}
#symbol-top{
    grid-area: symbol-top;
    justify-self: end;
}
#symbol-bottom{
    grid-area: symbol-bottom;
    align-self: end;
}