@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');

:root{
    --transform: rotate()
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #763626;
    overflow-y: auto;
    overflow-x: hidden;
}
header{
    display: flex;
    background-color: #2a3132;
    color: whitesmoke;
    border-bottom: 1px solid;
}
header h1{
    /* margin-left: 1em; */
    animation: slideInLeft 1s;
}
#nav{
    display: flex;
    flex-direction: column;
    background-color: #336b87;
    border-bottom: whitesmoke solid 1px;
}
#nav button{
    outline: none;
    background-color: #2a3132;
    color: whitesmoke;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin: 2px 2px;
    font-size: 14px;
}
#nav button:hover{
    background-color: #90afc5;
    color: #000;
}
#nav button:focus{
    background-color: #90afc5;
    color: #000;
}
.sub-header{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin: 5px;
    border-bottom: whitesmoke solid;
}
.static-pages{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* animation: slideInRight 1s; */
}
.static-pages-header{
    border-bottom: white;
}
.apps{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.container{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 3px;
    margin-top: 10px;
    /* animation: zoomInDown 1s; */
    animation: rotateIn 1s;
    padding: 20px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 20px rgba(0,0,0,.6);
    
}
.image{
    display: flex;
    justify-content: center;
}
.image img{
    border-radius: 5px;
    width: 400px;
    height: 350px;
    object-fit: cover;
    border: 1px solid #2a3132;
    /* filter: sepia(20%); */
    filter: grayscale(50%);
}
.link{
    display: flex;
    justify-content: center;
}
.link a{
    color: #2a3132;
    font-size: 2em;
    text-decoration: none;
    font-family: permanent marker;
    transform: rotate(10deg);
}
.link a:hover{
    color: #90afc5;
}
@media(max-width: 450px){
    .image img{
        width: 200px;
        height: 150px;
    }
}
@keyframes slideInFromRight{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}
@keyframes slideInFromLeft{
    from{margin-right: 100%;}
    to{margin-right: 0%;}
}
@keyframes farEntry {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes rotatePlane{
    0%{
        transform: perspective(10px) rotateX(90deg) rotateY(0deg);
    }
    50%{
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: perspective(180px) rotateX(90deg) rotateY(90deg);
    }
}