*{
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
}
body{
    background-color: black;
    color: white;
}

main{

}
header,form{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
form input,form button{
    font-size: 1.2;
    padding: .5em;
    border: none;
    text-align: center;
    outline: none;
}
form button{
    background-color: rgb(71, 71, 71);
    color: white;
}
#add{
    font-weight: bold;
}
select{
    padding: .45em;
    font-size: .8em;
}
#list-container{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#list{
    display: flex;
    flex-direction: column;
}
.todo-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 1em;
    transition: all 1s ease;
}
.date{
    padding: .5em;
    background-color: black;
    /* border-top: white solid 1px;
    border-bottom: white solid 1px; */
}
.btn-div{
    display: flex;
    flex-wrap: nowrap;
}
.list-item{
    width: 100px;
    line-height: 1.1em;
    /* border-bottom: white solid 1px;
    border-top: white solid 1px; */
}
p{
    padding: .5em;
    word-wrap: break-word;
}
.complete{
    outline: none;
    border: none;
    padding: .8em;
    margin-right: 0;
}
.complete:hover{
    background-color: rgb(203, 255, 124);
}
.remove{
    background-color: rgb(255, 85, 55);
    border: none;
    padding: .5em;
}
.remove:hover{
    background-color: red;
}
/* remove animation */
.fall{
    transform: scale(0) rotateZ(180deg);
    /* opacity: 0; */
}

/* toggle completed */
.completed{
    outline: none;
    background-color: rgb(161, 255, 20);
}
/* toggle line trough text */
.line-through{
    text-decoration: line-through;
}

@media(max-width: 500px){
    /* .todo-div{
        margin: 0;
    }
    .list-item{
        padding: 0;
    } */
}