*{
    margin: 0;
    padding: 0;
}

h1{
    display: flex;
    color: rgb(243, 120, 98);
    font-size: 7em;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 3em;
    background-color: rgba(245, 245, 245, 0.897);
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    animation: fadeIn 2s;
}

body{
    background-image: url('../background/flower.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    /* height: 100vh; */
}

a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black solid 1px;
    background-color: rgba(245, 245, 245, 0.88);
    color: rgb(243, 120, 98);
    padding: 1em;
    width: fit-content;
    width: -moz-max-content;
    border-radius: 1em;
    font-weight: bold;
    font-size: 2em;
    margin-top: 1em;
    font-family: sans-serif;
    text-decoration: none;
    animation: fadeIn 2s;
}
a:hover{
    animation-name: fade;
    animation-fill-mode: forwards;
}

@keyframes fade{
    0%{background-color: rgba(245, 245, 245, 0.88);}
    100%{background-color: rgba(90, 90, 90, 0.88);}
}

@media(max-width: 720px){
    h1{
        font-size: 3em;
    }
    a{
        font-size: 1.5em;
        padding: .5em
    }
}